<!DOCTYPE html>
<html>
<head>
  <title>Word Formatting</title>
  <link rel="stylesheet" type="text/css" href="/style_sheet.css">
</head>
<body>

  <h1>Word Formatting</h1>

  <button onclick="location.href='/'">
       Home</button>
  <button onclick="location.href='/address'">Address</button>
  <button onclick="location.href='/info'">Info</button>

  <%= yield %>

</body>
</html>